* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#Chk {
  display: none;
}
.switch {
  position: relative;
  background-color: #ffffff;
  width: 30px;
  height: 15px;
  cursor: pointer;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 5px;
  transition: all 0.5s ease-in-out;
}
.slider{
    position: absolute;
    background-color: #79B0FB;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    transition: all .5s ease-in-out;
}
#Chk:checked ~ .switch{
    background-color: #242424;
}
#Chk:checked ~ .switch .slider{
  transform: translateX(10px);
}


